body {
  background-color: #15130c;
  font-family: "Russo One", "Helvetica Neue";
  color: #15130c;
  
}

#content-wrap {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -330px;
  margin-left: -270px;
  padding: 48px;
  width: 540px;
  height: 660px;
  background-color: #d0c6a8;
  overflow: hidden;
}

h1 {
  font-size: 4.5em;
  font-weight: normal;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 0px;
  margin-bottom: .5em;
}

#game-board-wrapper {
  display: inline-block;
  position: relative;
  border: 3px solid #15130c;
}

#game-board-wrapper .aisle {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: transparent url('/images/sprites_02.png') repeat;
}

#game-board {
  position: relative;
  display: inline-block;
  background-color: #d0c6a8;
  margin-left: 24px;
  margin-right: 24px;
}

#game-board div {
  margin: 0;
}
span.tile {
  display: inline-block;
  background-color: #EEEEEE
  margin: 0;
  width: 24px;
  height: 24px;
  background: transparent url('/images/sprites_01.png') no-repeat left top;
}
span.tile-1 {
  /* J */
  background-position: left -144px;
}
span.tile-2 {
  /* L */
  background-position: left -120px;
}
span.tile-3 {
  /* O */
  background-position: left -24px;
}
span.tile-4 {
  /* S */
  background-position: left -96px;
}
span.tile-5 {
  /* T */
  background-position: left -48px;
}
span.tile-6 {
  /* Z */
  background-position: left -72px;
}
span.tile-7 {
  /* I */
  background-position: left -168px;
}

#game-board-wrapper .floating-message {
  display: none;
  position: absolute;
  font-size: 1.5em;
  background-color: rgba(208, 198, 168, 0.75);
  text-align: center;
  top: 40%;
  left: 24px;
  right: 24px;
}

#game-board-wrapper.pre-start #pre-start-message {
  display: inline-block;
}

#game-board-wrapper.game-over #game-over-message {
  display: inline-block;
}

#side-bar {
  margin-left: 30px;
  font-size: 1.5em;
  display: inline-block;
  vertical-align: top;
}

#side-bar p {
  margin-top: 0;
  margin-bottom: 1em;
}

#side-bar p.next-label {
  margin-top: 4em;
  margin-bottom: 0;
}

#shape-on-deck {
  margin-top: 24px;
  display: block;
  width: 96px;
  height: 96px;
}